* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: {{BG_COLOR}};
  border-bottom: 3px solid {{ACCENT_COLOR}};
  color: {{FG_COLOR}};
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: {{FG_COLOR}};
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: {{ACCENT_COLOR}};
  border-bottom: 3px solid {{FG_COLOR}};
}

#clock,
#battery,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
  color: {{FG_COLOR}};
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: {{FG_COLOR}};
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
